{
	"semi": true,
	"singleQuote": false,
	"useTabs": true,
	"arrowParens": "avoid",
	"printWidth": 80,
	"tabWidth": 2,
	"trailingComma": "all",
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteStrictMode": false,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": true,
	"plugins": ["prettier-plugin-svelte"]
}
