
.list-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0.5rem;
    height: 100%;
}

.add-btn {
    margin-bottom: 9px;
}

.list-wrap {
    height: calc(100% - 40px);
    overflow: hidden auto;
}

.list-wrap::-webkit-scrollbar {
    width: 5px;
}

.list-wrap::-webkit-scrollbar-thumb {
    height: 30%;
    background: lightgray;
    border-radius: 10px;
}

.list-wrap::-webkit-scrollbar-track {
    background: #f1f7ff1a;
}